@using Microsoft.FluentUI.AspNetCore.Components.Icons.Regular
@using Microsoft.Extensions.Localization

@inject IStringLocalizer<NavMenu> Localizer
<div class="navmenu">
    <input type="checkbox" title="Menu expand/collapse toggle" id="navmenu-toggle" class="navmenu-icon" />
    <label for="navmenu-toggle" class="navmenu-icon">
        <FluentIcon Value="@(new Size20.Navigation())" Color="Color.Fill" />
    </label>
    <nav class="sitenav" aria-labelledby="main-menu">
        <FluentNavMenu Id="main-menu" Collapsible="true" Width="200" Title="Navigation menu" @bind-Expanded="expanded"
            CustomToggle="true">
            <FluentNavLink Href="/" Match="NavLinkMatch.All" Icon="@(new Size20.Home())" IconColor="Color.Accent">
                @Localizer["Home"]
            </FluentNavLink>
            <FluentNavLink Href="counter" Icon="@(new Size20.NumberSymbolSquare())" IconColor="Color.Accent">
                @Localizer["Counter"]
            </FluentNavLink>
            <FluentNavLink Href="weather" Icon="@(new Size20.WeatherPartlyCloudyDay())" IconColor="Color.Accent">
                @Localizer["Weather"]
            </FluentNavLink>
            <FluentNavLink Href="settings" Icon="@(new Size20.Settings())" IconColor="Color.Accent">
                @Localizer["Settings"]
            </FluentNavLink>
        </FluentNavMenu>
    </nav>
</div>

@code {
    private bool expanded = true;
}
